@{
    ViewBag.Title = "Home Page";
}

<div class="Background">
    <div class="Estrutura">
        <div>
            <p style="text-align: center;">INSIRA O CEP ABAIXO</p>
            <input id="cep" value="" />
        </div>


    </div>



</div>

<div id="Resultado" class="row">

</div>

<div id="Template" hidden>
    <div id="Retorno" class=" col-md-2 card">
        <div id="Rua"></div>
        <div id="Bairro"></div>
        <div id="Endereco"></div>
        <div id="Cep"></div>
        <div id="Cidade"></div>
        <div id="Estado"></div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/Index.js"></script>



